* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
}
.wrapper {
  height: 90vh;
  position: relative;
  height: calc(100vh - 80px);
}

.slider-wrap {
  display: block;
  position: relative;
}

.slide-controls {
  position: absolute;
  z-index: 80;
  left: 25px;
  top: 28vh;
  padding: 10px;
  display: block;
}
.slide-controls > button {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  cursor: pointer;
}
.slide-controls > button > .fas {
  color: grey;
  font-size: 24px;
}

.slide-controls > button.prev {
  margin-bottom: 20px;
}
.slide-controls > button.next {
  margin-top: 35px;
}

.slide.one {
  background: url(../assets/mert-kahveci-s99d0y-YteE-unsplash.jpg) no-repeat
    center;
  display: block;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 1s cubic-bezier(1, 0.29, 0.77, 0.76);
}

.slide.two {
  background: url(../assets/lake.jpg) no-repeat center;
  transition: all 1s cubic-bezier(1, 0.29, 0.77, 0.76);
}

.slide.three {
  background: url(../assets/sun.jpg) no-repeat center;
  transition: all 1s cubic-bezier(1, 0.29, 0.77, 0.76);
}

.slide {
  height: 575px;
  padding: 55px 105px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-size: 100%;
  transition: all 0.9s cubic-bezier(1, 0.29, 0.99, 0.54);
}

h2 {
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 30px;
  word-spacing: 1px;
  opacity: 100;
  transition: all 0.5s cubic-bezier(0.76, 0.91, 0.01, 0.14) 1s;
  transform: translateY(20px);
  font-family: "Lato", sans-serif;
  color: #fff;
}

.btn {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 37px;
  outline: none;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 30px;
  transform: translateY(20px);
  opacity: 100;
  transition: all 0.7s cubic-bezier(0.76, 0.91, 0.01, 0.14) 2s;
  background-color: transparent;
  color: #fff;

  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2f2f2;
  color: #000;
}

.slide-dots {
  position: absolute;
  width: 100px;
  z-index: 80;
  bottom: 55vh;
  right: 4px;
  display: block;
  text-align: center;
}

.slide-dots .dot {
  width: 5px;
  color: #000;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 14px;
  line-height: 27px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.slide-dots .dot.active {
  background-color: #db929d;
}
.menu-box {
  position: absolute;
  right: 0;
  width: 470px;
  padding: 10px;
  height: 550px;
}

.menu-box .menu-btn {
  position: absolute;
  bottom: 45px;
  right: 60px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f2f2f2;
  background: linear-gradient(to right, #db929d, #fff);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  transition: all 0.5s cubic-bezier(0.76, 0.91, 0.03, 0.18) 0.9s;
}

.right {
  transform: translate(-220px, 0);

  transform-origin: center;

  transition: all 0.001s cubic-bezier(0.76, 0.91, 0.03, 0.18);
}
.menu-box .menu-btn .burger {
  background-color: #fff;
  width: 22px;
  height: 2px;
  transition: all 0.5s ease-out 0.5s;
}

.menu-box .menu-btn .burger::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #fff;
  transform: translateY(-7px);
  transition: all 0.5s ease-out 0.5s;
  transform-origin: center;
}

.menu-box .menu-btn .burger::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #fff;
  transform: translateY(7px);
  transition: all 0.5s ease-out 0.5s;
  transform-origin: center;
}

.menu-box .menu-btn .open {
  background: transparent;
  transform: rotate(3240deg) translate(0, -50%);
  transition: all 0.9s ease-in-out 2s;
  transform-origin: center;
}
.menu-box .menu-btn .open::before {
  transition: all 0.9s ease-in-out 2s;
  transform-origin: center;
  top: 0;
  transform: rotate(45deg);
  background-color: #000;
}

.menu-box .menu-btn .open::after {
  transition: all 0.9s ease-in-out 2s;
  transform-origin: center;
  top: 0;
  transform: rotate(135deg);
  background-color: #000;
}

.menu-items {
  padding: 20px 10px;
  width: 69%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.box {
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s ease 0.5s;
}
.em {
  display: block;
  margin-top: 5px;
  font-size: 30px;
}

.about {
  border: 1px solid #00aabb;
  background-color: #00aabb;
}

.services {
  border: 1px solid #f7b113;
  background-color: #f7b113;
}
.products {
  border: 1px solid #01a10c;
  background-color: #01a10c;
}

.partners {
  border: 1px solid #7a32fd;
  background-color: #7a32fd;
}

.team {
  border: 1px solid #e4c2d1;
  background-color: #e4c2d1;
}

.contact {
  border: 1px solid #e5eaf9;
  background-color: #e5eaf9;
}

.shrink {
  transform: translate(0, 50px);
  transform-origin: center;
  transition: all 1s ease 2s;
}

.shrink-one {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 2.2s;
}

.shrink-two {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 2.5s;
}

.shrink-three {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 2.7s;
}
.shrink-four {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 2.8s;
}

.shrink-five {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 2.9s;
}
