* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 90vh;
  position: relative;
}

.slider-wrap {
  display: block;
  position: relative;
}

.slide-controls {
  position: absolute;
  z-index: 80;
  left: 25px;
  top: 28vh;
  padding: 10px;
  display: block;
}
.slide-controls > button {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  cursor: pointer;
}
.slide-controls > button > .fas {
  color: grey;
  font-size: 24px;
}

.slide-controls > button.prev {
  margin-bottom: 20px;
}
.slide-controls > button.next {
  margin-top: 35px;
}

.slide.one {
  background: url(../assets/love-5426977_1920.jpg) no-repeat center;
}

.slide.two {
  background: url(../assets/lake.jpg) no-repeat center;
}

.slide.three {
  background: url(../assets/sun.jpg) no-repeat center;
}

.slide {
  height: 520px;
  padding: 55px 105px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateY(-520px);
}
.active-slide {
  transform: translateY(0);
  transition: all 0.45s ease-out;
}

.after-active-slide {
  top: -580px;

  transition: all 0.45s ease-in;
}

h2 {
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 30px;
  word-spacing: 1px;
  opacity: 100;
  transition: all 0.5s ease-out 0.5s;
  font-family: "Lato", sans-serif;
  color: #fff;
  transform: translateY(10px);
  opacity: 100;
}

.btn {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 37px;
  outline: none;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 30px;
  transform: translateY(50px);
  opacity: 100;
  transition: all 0.7s ease-out 0.8s;
  transform: translateY(20px);
  background-color: transparent;
  color: #000;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  opacity: 100;
}

.btn:hover {
  background-color: #f2f2f2;
  color: #000;
}

.slide-dots {
  position: absolute;
  width: 100px;
  z-index: 80;
  bottom: 55vh;
  right: 4px;
  display: block;
  text-align: center;
}

.slide-dots .dot {
  width: 5px;
  color: #000;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 14px;
  line-height: 27px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.slide-dots .dot.active {
  background-color: grey;
}
.menu-box {
  position: absolute;
  right: 0;
  width: 470px;
  padding: 10px;
  height: 550px;
}

.menu-box .menu-btn {
  position: absolute;
  bottom: 45px;
  right: 60px;
  height: 45px;
  width: 50px;
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f2f2f2;
  background: linear-gradient(to right, #db929d, #f2f2f2);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-out 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.right {
  transform: translate(-210px, 0);
  transition: all 0.1s ease-in-out;
  transform-origin: center;
}
.menu-box .menu-btn {
  position: absolute;
  bottom: 45px;
  right: 60px;
  height: 45px;
  width: 45px;
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease-in;
}

.right {
  transform: translate(-80px, 0);
  transition: all 0.5s ease-in;
}
.menu-box .menu-btn .burger {
  background-color: #fff;
  width: 25px;
  height: 3px;
  position: absolute;
  right: 8px;
  top: 12px;
  transition: all 0.15s ease-out;
}

.menu-box .menu-btn .burger::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 28px;
  left: 1px;
  height: 3px;
  background-color: #fff;
  transform: translateY(-9px);
  transition: all 0.45s ease-out;
  transform-origin: center;
}

.menu-box .menu-btn .burger::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  left: 1px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transform: translateY(9px);
  transition: all 0.5s ease-out;
  transform-origin: center;
}

.menu-box .menu-btn .open {
  transform: rotate(180deg) translate(-50px, 0);
  background-color: transparent;
  transition: all 0.5s ease-in-out 0.6s;
  transform-origin: center;
}
.menu-box .menu-btn .open::before {
  transform: rotate(45deg) translate(35px, -35px);
  transition: all 0.5s ease-in-out 0.7s;
  transform-origin: center;
  background-color: #000;
}

.menu-box .menu-btn .open::after {
  transform: rotate(-45deg) translate(35px, 35px);
  transition: all 0.5s ease-in-out 0.8s;
  transform-origin: center;
  background-color: #000;
}

.menu-items {
  padding: 20px 10px;
  width: 69%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.box {
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s ease 0.5s;
}
.em {
  display: block;
  margin-top: 5px;
  font-size: 30px;
}

.about {
  border: 1px solid #00aabb;
  background-color: #00aabb;
}

.services {
  border: 1px solid #f7b113;
  background-color: #f7b113;
}
.products {
  border: 1px solid #01a10c;
  background-color: #01a10c;
}

.partners {
  border: 1px solid #7a32fd;
  background-color: #7a32fd;
}

.team {
  border: 1px solid #e4c2d1;
  background-color: #e4c2d1;
}

.contact {
  border: 1px solid #e5eaf9;
  background-color: #e5eaf9;
}

.shrink {
  transform: translate(0, 50px);
  transform-origin: center;
  transition: all 1s ease 0.9s;
}

.top {
  transform: translate(0, -1300px);
  transform-origin: center;
  transition: all 1s ease 1s;
}

.shrink-one {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 1s;
}

.shrink-two {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 1.3s;
}

.shrink-three {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 1.5s;
}
.shrink-four {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 1.7s;
}

.shrink-five {
  transform: scale(1) translate(0, 49px);
  transform-origin: center;
  transition: 0.3s ease 1.9s;
}
