* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.slider-wrap {
  display: block;
  position: relative;
}

.slide-controls {
  position: absolute;
  z-index: 80;
  left: 25px;
  top: 28vh;
  padding: 10px;
  display: block;
}
.slide-controls > button {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  cursor: pointer;
}
.slide-controls > button > .fas {
  color: grey;
  font-size: 24px;
}

.slide-controls > button.prev {
  margin-bottom: 20px;
}
.slide-controls > button.next {
  margin-top: 35px;
}

.slide.one {
  background: url(../assets/love-5426977_1920.jpg) no-repeat;
  display: block;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
}

.slide.two {
  background: url(../assets/funny.jpg) no-repeat;
  transition: all 0.3s ease-out;
  object-fit: cover;
}

.slide.three {
  background: url(../assets//natural-wonders-1400924.jpg) no-repeat;
  transition: all 0.3s ease-out;
}

.slide {
  height: 550px;
  padding: 55px 105px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  top: -550px;
}

h2 {
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 30px;
  word-spacing: 1px;
  opacity: 100;
  transition: all 0.5s ease-out 1s;
  transform: translateY(20px);
  font-family: "Lato", sans-serif;
  color: #fff;
}

.btn {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 37px;
  outline: none;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 30px;
  transform: translateY(20px);
  opacity: 100;
  transition: all 0.7s ease-out 2s;
  background-color: transparent;
  color: #000;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2f2f2;
  color: #000;
}

.slide-dots {
  position: absolute;
  width: 100px;
  z-index: 80;
  bottom: 55vh;
  right: 4px;
  display: block;
  text-align: center;
}

.slide-dots .dot {
  width: 5px;
  color: #000;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 14px;
  line-height: 27px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.slide-dots .dot.active {
  background-color: grey;
}
.menu-box {
  border: 2px solid red;
  position: absolute;
  right: 0;
  width: 470px;
  padding: 10px;
  height: 550px;
}

.menu-box .menu-btn {
  position: absolute;
  bottom: 45px;
  right: 60px;
  height: 45px;
  width: 50px;
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  transition: all 0.1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.right {
  transform: translate(-90px, 0);
  transition: all 0.1s ease-in;
  transform-origin: center;
}
.menu-box .menu-btn .burger {
  background-color: #000;
  width: 25px;
  height: 3px;
  transition: all 0.45s ease-out;
  transform-origin: center;
  border-radius: 4px;
}

.menu-box .menu-btn .burger::before {
  content: "";
  width: 25px;
  position: absolute;
  height: 3px;
  background-color: #000;
  transform: translateY(-9px);
  transition: all 0.45s ease-out;
  transform-origin: center;
}

.menu-box .menu-btn .burger::after {
  content: "";
  width: 25px;
  position: absolute;
  height: 3px;
  background-color: #000;
  transform: translateY(9px);
  transition: all 0.45s ease-out;
  transform-origin: center;
}

.menu-box .menu-btn .open {
  transform: translate(-50px, 0);
  background-color: transparent;
  transition: all 0.45s ease-in-out 0.2s;
  transform-origin: center;
}
.menu-box .menu-btn .open::before {
  transform: rotate(45deg) translate(35px, -35px);
  transition: all 0.45s ease-in-out 0.2s;
  transform-origin: center;
}

.menu-box .menu-btn .open::after {
  transform: rotate(-45deg) translate(35px, 35px);
  transition: all 0.45s ease-in-out 0.2s;
  transform-origin: center;
}

.menu-items {
  border: 2px solid green;
  padding: 20px 10px;
  width: 69%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
.about {
  border: 1px solid #00aabb;
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
  background-color: #00aabb;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.em {
  display: block;
  margin-top: 5px;
}
.services {
  border: 2px solid red;
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
}
.products {
  border: 2px solid red;
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
}
.partners {
  border: 2px solid red;
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
}
.team {
  border: 2px solid red;
  width: 40%;
  margin: 10px 5px;

  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
}
.contact {
  border: 2px solid red;
  width: 40%;
  margin: 10px 5px;
  border-radius: 17px;
  padding: 25px;
  height: 100px;
  display: block;
  text-align: center;
}
